@charset "utf-8";

/* ==============================
* Fold
================================= */
.foldAllCtrl {display:flex;flex-flow:row;flex-wrap:wrap;justify-content:space-between;margin:0 0 20px}
.foldAllCtrl .sideL {display:none}
.foldAllCtrl .sideR {}
.foldAllCtrl button {width:30px;height:30px;box-sizing:border-box;position:relative;border:0;border-radius:5px;background:#ddd;margin:0 0 0 5px;transition:all .3s ease}
.foldAllCtrl button:first-child {margin:0}
.foldAllCtrl button:focus-visible,
.foldAllCtrl button:hover {background:#14B694}
.foldAllCtrl button i {font-size:18px;font-weight:normal;transition:all .3s ease}
.foldAllCtrl button:focus-visible,
.foldAllCtrl button:hover i {color:#fff}
.foldAllCtrl .refresh {}
.foldAllCtrl .open {}
.foldAllCtrl .close {}
@media all and (max-width:599px) {
	.foldAllCtrl {display:block;width:100%}
	.foldAllCtrl .sideR {display:flex;flex-flow:row;flex-wrap:wrap;justify-content:space-between}
	.foldAllCtrl button {width:48%;height:50px;margin:0}
}

.foldUnit {}
.foldUnit .foldTit {letter-spacing:0}
.foldUnit .foldCtrl {position:absolute;right:0;top:-2px;display:flex;flex-flow:row;flex-wrap:wrap}
.foldUnit .foldCtrl .ctrl {width:30px;height:30px;box-sizing:border-box;position:relative;border:solid;border-width:3px;border-color:#fff #ddd #ddd #fff;border-radius:5px;background:#bbb;transition:all .3s ease}
.foldUnit .foldCtrl .ctrl:focus-visible,
.foldUnit .foldCtrl .ctrl:hover {background:#14B694}
.foldUnit .foldCtrl .ctrl:before,
.foldUnit .foldCtrl .ctrl:after {content:"";display:block;position:absolute;width:14px;height:2px;background:#fff;top:0;right:0;bottom:0;left:0;margin:auto;transition:all .3s ease}
.foldUnit .foldCtrl .ctrl:after {transform:rotate(90deg)}
.foldUnit .foldCode {}
.foldUnit .foldBody {display:none;box-sizing:border-box;border:1px solid #eee;padding:15px;line-height:1.3;margin:10px 0 0}
.foldUnit .foldBody .txt01 {}
.foldUnit .foldBody .img01 {display:block;width:auto;max-width:100%;margin:15px 0 0}
.foldUnit.open .foldCtrl .ctrl {background:#14B694}
.foldUnit.open .foldCtrl .ctrl:before,
.foldUnit.open .foldCtrl .ctrl:after {background:#fff}
.foldUnit.open .foldCtrl .ctrl:after {transform:rotate(0deg)}
@media all and (max-width:699px) {
	.foldUnit .foldCtrl {top:-7px}
}
@media all and (max-width:599px) {
	.foldUnit {padding-top:7px}
	.foldUnit .foldTit {padding-right:60px}
	.foldUnit .foldCtrl {width:50px;height:50px}
	.foldUnit .foldCtrl .ctrl {width:100%;height:100%;right:0;top:0;position:absolute;background:#ddd;border:0}
	.foldUnit .foldCtrl .ctrl:focus-visible,
	.foldUnit .foldCtrl .ctrl:hover {background:#ddd}
	.foldUnit .foldCtrl .ctrl:before,
	.foldUnit .foldCtrl .ctrl:after {background:#555}
	.foldUnit .foldCode {margin:25px 0 0}
	.foldUnit.open .foldCtrl .ctrl {background:#14B694}
}

/* ==============================
* FONT-WEIGHT
================================= */
/* font-weight */
.fw100 {font-weight:100}
.fw200 {font-weight:200}
.fw300 {font-weight:300}
.fw400 {font-weight:400}
.fw500 {font-weight:500}
.fw600 {font-weight:600}
.fw700 {font-weight:700}
.fw800 {font-weight:800}
.fw900 {font-weight:900}
.fwN {font-weight:normal}
.fwB {font-weight:bold}

/* ==============================
* FONT-SIZE
================================= */
.fs10 {font-size:10px}
.fs12 {font-size:12px}
.fs14 {font-size:14px}
.fs16 {font-size:16px}
.fs18 {font-size:18px}
.fs20 {font-size:20px}
.fs22 {font-size:22px}
.fs24 {font-size:24px}
.fs26 {font-size:26px}
.fs28 {font-size:28px}
.fs30 {font-size:30px}

/* ==============================
* FONT-FAMILY
================================= */
.ff01 {font-family:"Noto Sans KR"}		/* 1 / 3 / 4 / 5 / 7 / 9 */
.ff02 {font-family:"Raleway"}			/* 3 / 4 / 5 / 6 / 7 */
.ff03 {font-family:"Gmarket Sans"}		/* 3 / 5 / 7 */
.ff04 {font-family:"InkLipquid"}		/* normal / bold */
.ff05 {font-family:"SBAggro"}			/* 3 / 5 / 7 */
.ff06 {font-family:"SCoreDreamFull"}	/* 1 / 2 / 3 / 4 / 5 / 6 / 7 / 8 / 9 */
.ff07 {font-family:"SCoreDreamLight"}	/* 1 / 2 / 3 / 4 / 5 / 6 / 7 / 8 / 9 */
.ff08 {font-family:"SUIT"}				/* 3 / 4 / 5 / 6 / 7 / 9 */