@charset "utf-8";

/* ==============================
* 00. PUBLIC
================================= */
.crsUnit .link01 {margin:0}

/* ==============================
* 01. Owl Carousel
================================= */
#owl {width:100%;max-width:600px}
#owl .dataList {position:relative}
#owl .dataList .item {background:#ddd}
#owl .dataList .item img {display:block;width:100%;height:auto}
#owl .dataList .owl-stage-outer {position:relative;z-index:0}
#owl .dataList .owl-nav {position:absolute;width:100%;left:0;top:50%;transform:translateY(-50%);z-index:1;}
#owl .dataList .owl-nav button {display:block;position:absolute;width:50px;height:50px;border:0;background:transparent;top:50%;transform:translateY(-50%)}
#owl .dataList .owl-nav button:after {content:"";display:block;position:absolute;width:30px;height:30px;border:solid;box-sizing:border-box;border-width:0 0 2px 2px;border-color:#fff;top:0;right:0;bottom:0;left:0}
#owl .dataList .owl-nav .owl-prev {left:10px}
#owl .dataList .owl-nav .owl-prev:after {transform:rotate(45deg);margin:auto auto auto 18px}
#owl .dataList .owl-nav .owl-next {right:10px}
#owl .dataList .owl-nav .owl-next:after {transform:rotate(225deg);margin:auto 18px auto auto}
#owl .dataCtrl {font-size:0;line-height:1;margin:10px 0 0;display:flex;flex-flow:row;flex-wrap:wrap;align-items:center;align-content:center;justify-content:center}
#owl .dataCtrl button {width:20px;height:20px;box-sizing:border-box;position:relative;border:0;background:transparent}
#owl .dataCtrl button:after {content:"";display:block;position:absolute;box-sizing:border-box;border:solid;top:0;right:0;bottom:0;left:0;margin:auto;transition:all .3s ease}
#owl .dataCtrl .dataAuto {margin:0 5px 0 0}
#owl .dataCtrl .dataAuto .btn-stop {}
#owl .dataCtrl .dataAuto .btn-stop:after {width:9px;height:14px;border-width:0 3px;border-color:#ccc}
#owl .dataCtrl .dataAuto .btn-stop:focus-visible:after,
#owl .dataCtrl .dataAuto .btn-stop:hover:after {border-color:#999}
#owl .dataCtrl .dataAuto .btn-play {display:none}
#owl .dataCtrl .dataAuto .btn-play:after {width:0;height:0;border-width:8px 0 8px 9px;border-color:transparent transparent transparent #ccc}
#owl .dataCtrl .dataAuto .btn-play:focus-visible:after,
#owl .dataCtrl .dataAuto .btn-play:hover:after {border-color:transparent transparent transparent #999}
#owl .dataCtrl .dataDots {}
#owl .dataCtrl .dataDots .owl-dot {}
#owl .dataCtrl .dataDots .owl-dot:after {width:80%;height:80%;border-radius:50%;background:#ccc;border:0}
#owl .dataCtrl .dataDots .owl-dot:focus-visible:after,
#owl .dataCtrl .dataDots .owl-dot:hover:after {background:#999}
#owl .dataCtrl .dataDots .owl-dot.active:after {background:#14B694}
#owl .dataCtrl .dataDots .owl-dot .sel {display:none}
#owl .dataCtrl .dataDots .owl-dot.active .sel {display:block}
@media all and (max-width:599px) {
	#owl .dataList .owl-nav button {width:30px;height:30px}
	#owl .dataList .owl-nav button:after {width:15px;height:15px}
	#owl .dataList .owl-nav .owl-prev:after {margin:auto auto auto 11px}
	#owl .dataList .owl-nav .owl-next:after {margin:auto 11px auto auto}
}

/* ==============================
* 02. Swiper
================================= */
#swp {width:100%;max-width:600px}
#swp .dataGroup {position:relative;}
#swp .dataList {position:relative;z-index:0}
#swp .dataList .dataListIn {}
#swp .dataList .dataListIn img {display:block;width:100%}
#swp .dataNavi {position:absolute;width:100%;left:0;top:50%;transform:translateY(-50%);z-index:1;}
#swp .dataNavi button {display:block;position:absolute;width:50px;height:50px;border:0;background:transparent;top:50%;transform:translateY(-50%)}
#swp .dataNavi button:after {content:"";display:block;position:absolute;width:30px;height:30px;border:solid;box-sizing:border-box;border-width:0 0 2px 2px;border-color:#fff;top:0;right:0;bottom:0;left:0}
#swp .dataNavi .btn-prev {left:10px}
#swp .dataNavi .btn-prev:after {transform:rotate(45deg);margin:auto auto auto 18px}
#swp .dataNavi .btn-next {right:10px}
#swp .dataNavi .btn-next:after {transform:rotate(225deg);margin:auto 18px auto auto}
#swp .dataCtrl {font-size:0;line-height:1;margin:10px 0 0;display:flex;flex-flow:row;flex-wrap:wrap;align-items:center;align-content:center;justify-content:center}
#swp .dataCtrl button {width:20px;height:20px;box-sizing:border-box;position:relative;border:0;background:transparent}
#swp .dataCtrl button:after {content:"";display:block;position:absolute;box-sizing:border-box;border:solid;top:0;right:0;bottom:0;left:0;margin:auto;transition:all .3s ease}
#swp .dataCtrl .dataAuto {margin:0 5px 0 0}
#swp .dataCtrl .dataAuto .btn-stop {}
#swp .dataCtrl .dataAuto .btn-stop:after {width:9px;height:14px;border-width:0 3px;border-color:#ccc}
#swp .dataCtrl .dataAuto .btn-stop:focus-visible:after,
#swp .dataCtrl .dataAuto .btn-stop:hover:after {border-color:#999}
#swp .dataCtrl .dataAuto .btn-play {display:none}
#swp .dataCtrl .dataAuto .btn-play:after {width:0;height:0;border-width:8px 0 8px 9px;border-color:transparent transparent transparent #ccc}
#swp .dataCtrl .dataAuto .btn-play:focus-visible:after,
#swp .dataCtrl .dataAuto .btn-play:hover:after {border-color:transparent transparent transparent #999}
#swp .dataCtrl .dataDots {width:auto}
#swp .dataCtrl .dataDots .swiper-dot {margin:0;opacity:1}
#swp .dataCtrl .dataDots .swiper-dot:after {width:80%;height:80%;border-radius:50%;background:#ccc;border:0}
#swp .dataCtrl .dataDots .swiper-dot:focus-visible:after,
#swp .dataCtrl .dataDots .swiper-dot:hover:after {background:#999}
#swp .dataCtrl .dataDots .swiper-dot.swiper-pagination-bullet-active:after {background:#14B694}
#swp .dataCtrl .dataDots .swiper-dot .sel {display:none}
#swp .dataCtrl .dataDots .swiper-dot.swiper-pagination-bullet-active .sel {display:block}
@media all and (max-width:599px) {
	#swp .swiper-navi button {width:30px;height:30px}
	#swp .swiper-navi button:after {width:15px;height:15px}
	#swp .swiper-navi .btn-prev:after {margin:auto auto auto 11px}
	#swp .swiper-navi .btn-next:after {margin:auto 11px auto auto}
}

/* ==============================
* 03. Bx Slider
================================= */
#bxs {width:100%;max-width:600px}
#bxs .bx-wrapper {margin:0;box-shadow:none;border:0}
#bxs .bx-viewport {}
#bxs .dataGroup {position:relative;}
#bxs .dataList {position:relative;z-index:0;}
#bxs .dataList img {display:block;width:100%}
#bxs .dataNavi {position:absolute;width:100%;left:0;top:50%;transform:translateY(-50%);z-index:1;}
#bxs .dataNavi > div {display:block;position:absolute;top:50%;transform:translateY(-50%)}
#bxs .dataNavi > div a {display:block;width:50px;height:50px;border:0;background:transparent;box-sizing:border-box;position:relative;font-size:0;}
#bxs .dataNavi > div a:after {content:"";display:block;position:absolute;width:30px;height:30px;border:solid;box-sizing:border-box;border-width:0 0 2px 2px;border-color:#fff;top:0;right:0;bottom:0;left:0}
#bxs .dataNavi .btn-prev {left:10px;}
#bxs .dataNavi .btn-next {right:10px;}
#bxs .dataNavi .btn-prev a:after {transform:rotate(45deg);margin:auto auto auto 18px}
#bxs .dataNavi .btn-next a:after {transform:rotate(225deg);margin:auto 18px auto auto}
#bxs .dataCtrl {}
#bxs .dataCtrl {font-size:0;line-height:1;margin:10px 0 0;display:flex;flex-flow:row;flex-wrap:wrap;align-items:center;align-content:center;justify-content:center}
#bxs .dataCtrl .roleBtn {width:20px;height:20px;box-sizing:border-box;position:relative;border:0;background:transparent}
#bxs .dataCtrl .roleBtn:after {content:"";display:block;position:absolute;box-sizing:border-box;border:solid;top:0;right:0;bottom:0;left:0;margin:auto;transition:all .3s ease}
#bxs .dataCtrl .dataAuto {margin:0 5px 0 0}
#bxs .dataCtrl .dataAuto .bx-controls-auto {display:flex;flex-flow:row;flex-wrap:wrap;}
#bxs .dataCtrl .dataAuto .bx-controls-auto > div {overflow:hidden}
#bxs .dataCtrl .dataAuto a {display:block;width:20px;height:20px;box-sizing:border-box;position:relative;border:0;background:transparent}
#bxs .dataCtrl .dataAuto a:after {content:"";display:block;position:absolute;box-sizing:border-box;border:solid;top:0;right:0;bottom:0;left:0;margin:auto;transition:all .3s ease}
#bxs .dataCtrl .dataAuto a.active {display:none}
#bxs .dataCtrl .dataAuto .bx-stop {}
#bxs .dataCtrl .dataAuto .bx-stop:after {width:9px;height:14px;border-width:0 3px;border-color:#ccc}
#bxs .dataCtrl .dataAuto .bx-stop:focus-visible:after,
#bxs .dataCtrl .dataAuto .bx-stop:hover:after {border-color:#999}
#bxs .dataCtrl .dataAuto .bx-start {}
#bxs .dataCtrl .dataAuto .bx-start:after {width:0;height:0;border-width:8px 0 8px 9px;border-color:transparent transparent transparent #ccc}
#bxs .dataCtrl .dataAuto .bx-start:focus-visible:after,
#bxs .dataCtrl .dataAuto .bx-start:hover:after {border-color:transparent transparent transparent #999}
#bxs .dataCtrl .dataDots {}
#bxs .dataCtrl .dataDots .roleBtn {display:inline-block}
#bxs .dataCtrl .dataDots .roleBtn {}
#bxs .dataCtrl .dataDots .roleBtn:after {width:80%;height:80%;border-radius:50%;background:#ccc;border:0}
#bxs .dataCtrl .dataDots .roleBtn:focus-visible:after,
#bxs .dataCtrl .dataDots .roleBtn:hover:after {background:#999}
#bxs .dataCtrl .dataDots .roleBtn.active:after {background:#14B694}
#bxs .dataCtrl .dataDots .roleBtn .sel {display:none}
#bxs .dataCtrl .dataDots .roleBtn.active .sel {display:block}
@media all and (max-width:599px) {
	#bxs .dataNavi > div a {width:30px;height:30px}
	#bxs .dataNavi > div a:after {width:15px;height:15px}
	#bxs .dataNavi .btn-prev a:after {margin:auto auto auto 11px}
	#bxs .dataNavi .btn-next a:after {margin:auto 11px auto auto}
}

/* ==============================
* 04. Slick
================================= */
#slc {width:100%;max-width:600px}
#slc .dataGroup {position:relative;}
#slc .dataList {position:relative;z-index:0}
#slc .dataList img {display:block;width:100%}
#slc .dataNavi {position:absolute;width:100%;left:0;top:50%;transform:translateY(-50%);z-index:1;}
#slc .dataNavi button {display:block;position:absolute;width:50px;height:50px;border:0;background:transparent;top:50%;transform:translateY(-50%)}
#slc .dataNavi button:after {content:"";display:block;position:absolute;width:30px;height:30px;border:solid;box-sizing:border-box;border-width:0 0 2px 2px;border-color:#fff;top:0;right:0;bottom:0;left:0}
#slc .dataNavi .btn-prev {left:10px}
#slc .dataNavi .btn-prev:after {transform:rotate(45deg);margin:auto auto auto 18px}
#slc .dataNavi .btn-next {right:10px}
#slc .dataNavi .btn-next:after {transform:rotate(225deg);margin:auto 18px auto auto}
#slc .dataCtrl {font-size:0;line-height:1;margin:10px 0 0;display:flex;flex-flow:row;flex-wrap:wrap;align-items:center;align-content:center;justify-content:center}
#slc .dataCtrl button {width:20px;height:20px;box-sizing:border-box;position:relative;border:0;background:transparent}
#slc .dataCtrl button:after {content:"";display:block;position:absolute;box-sizing:border-box;border:solid;top:0;right:0;bottom:0;left:0;margin:auto;transition:all .3s ease}
#slc .dataCtrl .dataAuto {margin:0 5px 0 0}
#slc .dataCtrl .dataAuto .btn-stop {}
#slc .dataCtrl .dataAuto .btn-stop:after {width:9px;height:14px;border-width:0 3px;border-color:#ccc}
#slc .dataCtrl .dataAuto .btn-stop:focus-visible:after,
#slc .dataCtrl .dataAuto .btn-stop:hover:after {border-color:#999}
#slc .dataCtrl .dataAuto .btn-play {display:none}
#slc .dataCtrl .dataAuto .btn-play:after {width:0;height:0;border-width:8px 0 8px 9px;border-color:transparent transparent transparent #ccc}
#slc .dataCtrl .dataAuto .btn-play:focus-visible:after,
#slc .dataCtrl .dataAuto .btn-play:hover:after {border-color:transparent transparent transparent #999}
#slc .dataCtrl .dataDots {width:auto}
#slc .dataCtrl .dataDots ul {display:flex;flex-flow:row;flex-wrap:wrap}
#slc .dataCtrl .dataDots ul li {}
#slc .dataCtrl .dataDots button {margin:0;opacity:1}
#slc .dataCtrl .dataDots button:after {width:80%;height:80%;border-radius:50%;background:#ccc;border:0}
#slc .dataCtrl .dataDots button:focus-visible:after,
#slc .dataCtrl .dataDots button:hover:after {background:#999}
#slc .dataCtrl .dataDots button .sel {display:none}
#slc .dataCtrl .dataDots .slick-active button:after {background:#14B694}
#slc .dataCtrl .dataDots .slick-active button .sel {display:block}